<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjtu.los.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.bjtu.los.model.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="spell" property="spell" jdbcType="VARCHAR" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="first_spell" property="firstSpell" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, spell, hit, first_spell
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjtu.los.model.City" >
    insert into city (id, name, spell, 
      hit, first_spell)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{spell,jdbcType=VARCHAR}, 
      #{hit,jdbcType=INTEGER}, #{firstSpell,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjtu.los.model.City" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="spell != null" >
        spell,
      </if>
      <if test="hit != null" >
        hit,
      </if>
      <if test="firstSpell != null" >
        first_spell,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        #{spell,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="firstSpell != null" >
        #{firstSpell,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjtu.los.model.City" >
    update city
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        spell = #{spell,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="firstSpell != null" >
        first_spell = #{firstSpell,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjtu.los.model.City" >
    update city
    set name = #{name,jdbcType=VARCHAR},
      spell = #{spell,jdbcType=VARCHAR},
      hit = #{hit,jdbcType=INTEGER},
      first_spell = #{firstSpell,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getHotCity" resultMap="BaseResultMap">
    select * from city order by hit desc limit #{limit}
  </select>

  <select id="getCityByZimu" resultMap="BaseResultMap">
    select * from city where first_spell=#{zimu}
  </select>
</mapper>