<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.los.mapper.StadiumMapper">
    <select id="getAllStadium" resultType="com.bjtu.los.model.Stadium">
        SELECT
        s.*
        FROM
        los.stadium s
        LEFT JOIN los.rank r ON s.id = r.stadium_id
        ORDER BY
        r.hit_score DESC
    </select>
</mapper>